:root {
  --md-primary-fg-color:        #56C8CC;
  --md-primary-fg-color--light: #5fd7db;
  --md-primary-fg-color--dark:  #43adb1;
}

.md-button:hover {
  background-color: var(--md-primary-fg-color--dark) !important;
  border-color: var(--md-primary-fg-color--dark) !important;
}

.admonition.note {
  border-color: var(--md-primary-fg-color--dark) !important;
  font-size: 1em;
}
