/* Define primary color variables */
:root {
  --md-primary-fg-color: #56c8cc;
  --md-primary-fg-color--light: #5fd7db;
  --md-primary-fg-color--dark: #43adb1;
  --md-footer-bg-color: #43adb1; /* Define footer background color */
}

/* Make headers bold */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-weight: bold !important;
}

/* Make headers dark primary colored for the default (white) theme */
body[data-md-color-scheme="default"] .md-typeset h1,
body[data-md-color-scheme="default"] .md-typeset h2,
body[data-md-color-scheme="default"] .md-typeset h3 {
  font-weight: bold !important;
  color: var(--md-primary-fg-color--dark) !important;
}

/* Make headers white colored for the slate (dark) theme */
body[data-md-color-scheme="slate"] .md-typeset h1,
body[data-md-color-scheme="slate"] .md-typeset h2,
body[data-md-color-scheme="slate"] .md-typeset h3 {
  font-weight: bold !important;
  color: white !important;
}

/* Change the color of links to match the primary color */
.md-nav__link[for]:focus,
.md-nav__link[for]:hover,
.md-nav__link[href]:focus,
.md-nav__link[href]:hover,
.md-typeset a:not(.md-button):focus,
.md-typeset a:not(.md-button):hover {
  color: var(--md-primary-fg-color--dark) !important;
}

/* Define button hover color */
.md-button:hover {
  background-color: var(--md-primary-fg-color--dark) !important;
  border-color: transparent !important;
}

/* Change the admonition note border color to match the primary color and increase font size */
.admonition.note {
  border-color: var(--md-primary-fg-color--dark) !important;
  font-size: 1em;
}
.md-typeset .admonition.info {
  border-color: var(--md-primary-fg-color--dark) !important;
}

/* Change the code-highlighting colors to match the primary color */
.highlight .hll {
  background-color: #5fd7db1c !important;
  box-shadow: 2px 0 0 0 var(--md-primary-fg-color--dark) inset !important;
}

/* Change the 'Back to Top' button hover color */
.md-top:focus,
.md-top:hover {
  background-color: var(--md-primary-fg-color--dark) !important;
}

/* Change the footer background color to match the primary color */
footer.md-footer {
  background-color: var(--md-primary-fg-color--dark) !important;
}

/* Center text in the download buttons */
a.download-windows-amd64,
a.download-windows-arm64,
a.download-linux-amd64,
a.download-linux-arm64,
a.download-macos-amd64
a.download-macos-arm64 {
  text-align: center;
}

/* Cards */
.md-typeset .grid {
  grid-gap: 0.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  margin: 1em 0;
}
.md-typeset .grid.cards > ol,
.md-typeset .grid.cards > ul {
  display: contents;
}
.md-typeset .grid.cards > ol > li,
.md-typeset .grid.cards > ul > li,
.md-typeset .grid > .card {
  border: 0.05rem solid var(--md-default-fg-color--lightest);
  border-radius: 0.1rem;
  display: grid;
  margin: 0;
  padding: 0.8rem;
  transition: border 0.25s, box-shadow 0.25s;
}
.md-typeset .grid.cards > ol > li :last-child,
.md-typeset .grid.cards > ul > li :last-child,
.md-typeset .grid > .card :last-child {
  align-self: end;
}
.md-typeset .grid.cards > ol > li:focus-within,
.md-typeset .grid.cards > ol > li:hover,
.md-typeset .grid.cards > ul > li:focus-within,
.md-typeset .grid.cards > ul > li:hover,
.md-typeset .grid > .card:focus-within,
.md-typeset .grid > .card:hover {
  border-color: #0000;
  box-shadow: var(--md-shadow-z2);
}
.md-typeset .grid.cards > ol > li > hr,
.md-typeset .grid.cards > ul > li > hr,
.md-typeset .grid > .card > hr {
  margin-bottom: 1em;
  margin-top: 1em;
}
.md-typeset .grid.cards > ol > li > :first-child,
.md-typeset .grid.cards > ul > li > :first-child,
.md-typeset .grid > .card > :first-child {
  margin-top: 0;
}
.md-typeset .grid.cards > ol > li > :last-child,
.md-typeset .grid.cards > ul > li > :last-child,
.md-typeset .grid > .card > :last-child {
  margin-bottom: 0;
}
.md-typeset .grid > *,
.md-typeset .grid > .admonition,
.md-typeset .grid > .highlight > *,
.md-typeset .grid > .highlighttable,
.md-typeset .grid > .md-typeset details,
.md-typeset .grid > details,
.md-typeset .grid > pre {
  margin-bottom: 0;
  margin-top: 0;
}
.md-typeset .grid > .highlight > pre:only-child,
.md-typeset .grid > .highlight > pre > code,
.md-typeset .grid > .highlighttable,
.md-typeset .grid > .highlighttable > tbody,
.md-typeset .grid > .highlighttable > tbody > tr,
.md-typeset .grid > .highlighttable > tbody > tr > .code,
.md-typeset .grid > .highlighttable > tbody > tr > .code > .highlight,
.md-typeset .grid > .highlighttable > tbody > tr > .code > .highlight > pre,
.md-typeset
  .grid
  > .highlighttable
  > tbody
  > tr
  > .code
  > .highlight
  > pre
  > code {
  height: 100%;
}
.md-typeset .grid > .tabbed-set {
  margin-bottom: 0;
  margin-top: 0;
}

/* Icon colors */
.secure {
  color: #56a356;
  margin-left: 4px;
}
.insecure {
  color: #e15656;
  margin-left: 4px;
}
