:root {
  --md-primary-fg-color: #56c8cc;
  --md-primary-fg-color--light: #5fd7db;
  --md-primary-fg-color--dark: #43adb1;

  --md-footer-bg-color: #43adb1;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-weight: bold !important;
  color: var(--md-primary-fg-color--dark) !important;
}

.md-nav__link[for]:focus,
.md-nav__link[for]:hover,
.md-nav__link[href]:focus,
.md-nav__link[href]:hover,
.md-typeset a:not(.md-button):focus,
.md-typeset a:not(.md-button):hover {
  color: var(--md-primary-fg-color--dark) !important;
}

.md-button:hover {
  background-color: var(--md-primary-fg-color--dark) !important;
  border-color: var(--md-primary-fg-color--dark) !important;
}

.admonition.note {
  border-color: var(--md-primary-fg-color--dark) !important;
  font-size: 1em;
}

.highlight .hll {
  background-color: #5fd7db1c !important;
  box-shadow: 2px 0 0 0 var(--md-primary-fg-color--dark) inset !important;
}

footer.md-footer {
  background-color: var(--md-primary-fg-color--dark) !important;
}
